# Gradle files
*.gradle/
gradle.properties
build/
build-res/
/*/build/
*.iml
*.idea/
*.DS_Store
*.log
example/pushDemo_new/node_modules
example/pushDemo_2024/ios/AwesomeProject.xcworkspace/xcuserdata
example/pushDemo_2024/node_modules
example/pushDemo_2024/package-lock.json
