<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme"
      android:supportsRtl="true">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>

<meta-data android:name="PUSH_APPID" android:value="DI1jwW3FtZ6kGDeY5dk0Y9"/>
<meta-data android:name="PUSH_APPKEY" android:value="DQCk2V8Jev9hqhWDU94PF9"/>
<meta-data android:name="PUSH_APPSECRET" android:value="Rtyp5trKUt8HSyzD8zRXX7"/>


<meta-data android:name="PUSH_APPID" android:value="DI1jwW3FtZ6kGDeY5dk0Y9"/>
<meta-data android:name="PUSH_APPKEY" android:value="DQCk2V8Jev9hqhWDU94PF9"/>
<meta-data android:name="PUSH_APPSECRET" android:value="Rtyp5trKUt8HSyzD8zRXX7"/>


<meta-data android:name="PUSH_APPID" android:value="DI1jwW3FtZ6kGDeY5dk0Y9"/>
<meta-data android:name="PUSH_APPKEY" android:value="DQCk2V8Jev9hqhWDU94PF9"/>
<meta-data android:name="PUSH_APPSECRET" android:value="Rtyp5trKUt8HSyzD8zRXX7"/>


<meta-data android:name="PUSH_APPID" android:value="DI1jwW3FtZ6kGDeY5dk0Y9"/>
<meta-data android:name="PUSH_APPKEY" android:value="DQCk2V8Jev9hqhWDU94PF9"/>
<meta-data android:name="PUSH_APPSECRET" android:value="Rtyp5trKUt8HSyzD8zRXX7"/>


<meta-data android:name="PUSH_APPID" android:value="DI1jwW3FtZ6kGDeY5dk0Y9"/>
<meta-data android:name="PUSH_APPKEY" android:value="DQCk2V8Jev9hqhWDU94PF9"/>
<meta-data android:name="PUSH_APPSECRET" android:value="Rtyp5trKUt8HSyzD8zRXX7"/>


<meta-data android:name="PUSH_APPID" android:value="DI1jwW3FtZ6kGDeY5dk0Y9"/>
<meta-data android:name="PUSH_APPKEY" android:value="DQCk2V8Jev9hqhWDU94PF9"/>
<meta-data android:name="PUSH_APPSECRET" android:value="Rtyp5trKUt8HSyzD8zRXX7"/>


<meta-data android:name="PUSH_APPID" android:value="DI1jwW3FtZ6kGDeY5dk0Y9"/>
<meta-data android:name="PUSH_APPKEY" android:value="DQCk2V8Jev9hqhWDU94PF9"/>
<meta-data android:name="PUSH_APPSECRET" android:value="Rtyp5trKUt8HSyzD8zRXX7"/>

    </application>
</manifest>
